body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

select {
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}
